### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [42]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [43]:
#number of playas, just like me.... 
num_playas = purchase_data['SN'].nunique()
total_playas_display = pd.DataFrame({"Total Players": [num_playas]})
total_playas_display

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#unique items.... unique like me
unique_items = purchase_data['Item ID'].nunique()
unique_items

183

In [45]:
#avg purchase price
average_price =(purchase_data['Price'].sum()/purchase_data['Price'].count()).round(2)
average_price

3.05

In [46]:
#total number of purchases
total_purchases = len(purchase_data)
total_purchases

780

In [47]:
#total revenue

total_rev = purchase_data["Price"].sum()
total_rev

2379.77

In [48]:
#summary data frame
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],"Average Price":[average_price],"Number of Purchases":[total_purchases],"Total Revenue":[total_rev]})

#style fix
summary_df.style.format({"Average Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [49]:
#counting all, males, females, other, etc for displaying unique walues
total_count = purchase_data["SN"].nunique()
male_count = purchase_data[purchase_data["Gender"] == "Male"]["SN"].nunique()
female_count = purchase_data[purchase_data["Gender"] == "Female"]["SN"].nunique()


other_count = total_count - male_count - female_count

#percentage calculations, playa
male_percent = ((male_count/total_count)*100)
female_percent = ((female_count/total_count)*100)
other_percent = ((other_count/total_count)*100)

In [50]:
#gender dempgraphics display setup 
gender_demograph = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"],"Total Count": [male_count, female_count, other_count], "Percentage of Players": [male_percent, female_percent, other_percent]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_demograph_final = gender_demograph.set_index("Gender")


#style formatting
gender_demograph_final.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
#purchase count per gender
male_purch = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
female_purch = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_purch = total_purchases - male_purch - female_purch

#avg purchase price per gender 
malepriceavg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
fempriceavg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
othpriceavg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

#avg purchase total per gender
malepricetot = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
fempricetot = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
othpricetot = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

In [52]:
#summary data frame and display
mnorm = malepricetot/male_count
fnorm = fempricetot/female_count
onorm = othpricetot/other_count

gender_purchases = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [male_purch, female_purch, other_purch],
                                        "Average Purchase Price": [malepriceavg, fempriceavg, othpriceavg], "Total Purchase Value": [malepricetot, fempricetot, othpricetot],
                                "Normalized Totals": [mnorm, fnorm, onorm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_purchase_final = gender_purchases.set_index("Gender")

#formatting data
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [53]:
#establish bin names for ages of population
children = purchase_data[purchase_data["Age"] <10]
tween = purchase_data[(purchase_data["Age"] >=10) & (purchase_data["Age"] <=14)]
teen = purchase_data[(purchase_data["Age"] >=15) & (purchase_data["Age"] <=19)]
college = purchase_data[(purchase_data["Age"] >=20) & (purchase_data["Age"] <=24)]
midtwent = purchase_data[(purchase_data["Age"] >=25) & (purchase_data["Age"] <=29)]
thirt = purchase_data[(purchase_data["Age"] >=30) & (purchase_data["Age"] <=34)]
latethirt = purchase_data[(purchase_data["Age"] >=35) & (purchase_data["Age"] <=39)]
fort = purchase_data[(purchase_data["Age"] >=40) & (purchase_data["Age"] <=44)]
latefort = purchase_data[(purchase_data["Age"] >=45) & (purchase_data["Age"] <=49)]

In [54]:
#setting up data frame to display
age_demograph = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(children["SN"].nunique()/total_count)*100, (tween["SN"].nunique()/total_count)*100, (teen["SN"].nunique()/total_count)*100, (college["SN"].nunique()/total_count)*100, (midtwent["SN"].nunique()/total_count)*100, (thirt["SN"].nunique()/total_count)*100, (latethirt["SN"].nunique()/total_count)*100, (fort["SN"].nunique()/total_count)*100, (latefort["SN"].nunique()/total_count)*100],
                        "Total Count": [children["SN"].nunique(), tween["SN"].nunique(), teen["SN"].nunique(), college["SN"].nunique(), midtwent["SN"].nunique(), thirt["SN"].nunique(), latethirt["SN"].nunique(), fort["SN"].nunique(), latefort["SN"].nunique()]
                       })
#style fixes
age_demograph_final = age_demograph.set_index("Age")
age_demograph_final.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
#age purchase analysis dataframe setup

age_purchase = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                              "Purchase Count": [children["Price"].count(), tween["Price"].count(), teen["Price"].count(), college["Price"].count(), midtwent["Price"].count(), thirt["Price"].count(), latethirt["Price"].count(), fort["Price"].count(), latefort["Price"].count()],
                              "Average Purchase Price": [children["Price"].mean(), tween["Price"].mean(), teen["Price"].mean(), college["Price"].mean(), midtwent["Price"].mean(), thirt["Price"].mean(), latethirt["Price"].mean(), fort["Price"].mean(), latefort["Price"].mean()], 
                              "Total Purchase Value": [children["Price"].sum(), tween["Price"].sum(), teen["Price"].sum(), college["Price"].sum(), midtwent["Price"].sum(), thirt["Price"].sum(), latethirt["Price"].sum(), fort["Price"].sum(), latefort["Price"].sum()],
                              "Average Total Purchase per Person": [children["Price"].sum()/children['SN'].nunique(), tween["Price"].sum()/tween['SN'].nunique(), teen["Price"].sum()/teen['SN'].nunique(), 
                                                    college["Price"].sum()/college['SN'].nunique(), midtwent["Price"].sum()/midtwent['SN'].nunique(), 
                                                    thirt["Price"].sum()/thirt['SN'].nunique(), latethirt["Price"].sum()/latethirt['SN'].nunique(), 
                                                    fort["Price"].sum()/fort['SN'].nunique(), latefort["Price"].sum()/latefort['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"])


#style fixes
age_purchase_final = age_purchase.set_index("Age")

age_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Average Total Purchase per Person": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
#data setup
user_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
user_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
user_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

#column fixes
user_total_purchase.columns=["Total Purchase Value"]
join_one = user_total_purchase.join(user_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

#joining datum
join_two = join_one.join(user_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

#dataframe set up, style fixes
top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [57]:
#setting up dataframes to merge
premerge_one = purchase_data.groupby("Item Name").sum().reset_index()
premerge_two = purchase_data.groupby("Item ID").sum().reset_index()
premerge_three = purchase_data.groupby("Item Name").count().reset_index()

#merging with panda, playa
merge_one = pd.merge(premerge_one, premerge_two, on="Price")
merge_two = pd.merge(premerge_three, merge_one, on="Item Name")

#creating dataframe and renaming
merge_two["Gender"] = (merge_two["Price_y"]/merge_two["Item ID"]).round(2)
merge_two_rename = merge_two.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns i want, clean merges, set indexes
clean_merge = merge_two_rename[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]
merged_df = clean_merge.set_index(['Item ID','Item Name'])

#final style fixes and setup
pop_items_final = merged_df.sort_values('Purchase Count', ascending=False).head(6)
pop_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [58]:
#pulling back prev dataframe to find most profitable
profitable_items = merged_df.sort_values('Total Purchase Value', ascending=False).head()

#style fixes
profitable_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})